#quote-carousel{padding:0 10px 30px 10px;margin-top:30px;text-align:center;}
#quote-carousel .carousel-indicators{right:50%;top:auto;bottom:-10px;margin-right:-19px;}
#quote-carousel .carousel-indicators .active{background:#fff;height:10px;width:10px;margin-bottom:1px;}
h1{text-align:center;margin-bottom:-20px !important;}
.tes{font-family:"poppins", sans-serif;font-size:20px;font-weight:normal;line-height:35px;padding-bottom:50px;text-decoration:none solid rgb(255 255 255);text-align:center;word-spacing:0px;color:#fff;}
.tim{font-family:"poppins", sans-serif;font-size:13px;font-weight:normal;line-height:22.75px;text-decoration:none solid rgb(255 255 255);text-align:center;word-spacing:0px;color:#fff;}
/*
     FILE ARCHIVED ON 00:13:57 Aug 25, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:16:45 Aug 24, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots.policy: 0.321
  PetaboxLoader3.resolve: 166.941 (2)
  LoadShardBlock: 78.29 (3)
  esindex: 0.014
  CDXLines.iter: 24.34 (3)
  load_resource: 293.779 (2)
  PetaboxLoader3.datanode: 168.331 (5)
  captures_list: 140.384
  exclusion.robots: 0.335
  RedisCDXSource: 33.655
*/